// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search_button {
  border: dashed 1px #efefef;
  background-color:  transparent;
}
