// Place all the styles related to the Shampoos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shampoos {
  text-align: center;
  margin: auto;
  margin-bottom: 40px;
  border: solid 1px #555;
  width: 700px;
}

.user-id {
  font-size: 8px;
}

.tag_delete {
  font-size: 7px;
}
