// Place all the styles related to the Shampoos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.shampoos {
  margin: auto;
  margin-bottom: 40px;
  border: solid 1px #efefef;
  width: 700px;
}


a {
  color: #333;
  text-decoration: none;
}

.center {
  margin: 0 auto 0;
}
.inline-center {
  text-align: center;
}
.shampoo-name {
  margin: 0px;
  border-bottom: 1px #efefef solid;
  padding: 20px;
  text-align: left;
}
.font-style {
  color: #262626;
  font-weight: 600;
}

.image {
  box-shadow: 0px 5px 8px -5px rgba(0, 0, 0, 0.4);
  text-align: center;
}

.shampoo-info {
  text-align: right;
  padding-right: 30px;
}

.info {
  display: inline-block;
  margin:5px 10px 5px 10px;
}

.font-mini {
  font-size: 7px;
}

.tag {
  color: 003569;
  padding:30px;
}

.new_tag {
  border-top: 1px #efefef solid;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;

}

.nav {
  padding: 10px;
  font-family: 'Zilla Slab', serif;
}
.zilla {
  font-family: 'Zilla Slab', serif;
}